{%load static%} {%block content%}

<head>
    <link rel="stylesheet" href="{% static 'css/aeirbs-wide-css.css'%}">
    <link rel="stylesheet" href="{% static 'css/topnav-css.css'%}">
</head>
</head>
<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <button type="button" id="sidebarCollapse" class="btn btn-link icon">
            <span><i class="fas fa-align-justify"></i></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item">
                    <div class="btn-group">
                        <button role="button" type="button" class="btn btn-link dropdown" data-toggle="dropdown">
                            <img src="{{ user.profile.user_image.url }}" height="30" style="border-radius: 50%;">
                        </button>

                        <div class="dropdown-menu dropdown-menu-right">
                            <div class="dropdown-header"
                                style=" min-width: 45vh; width:initial; background-color: #343A40; color: white; text-align: center;">
                                <div class="row my-2">
                                    <div class="col-4">
                                        <img src="{{ user.profile.user_image.url }}" height="90"
                                            style="border-radius: 5px; border: 3px solid white;    ">
                                    </div>
                                    <div class="col-8 mt-3">
                                        <h6>{{request.user.get_full_name}}</h6>
                                        <small>{{request.user.get_username}}</small>
                                    </div>
                                </div>
                            </div>

                            <div class="dropdown-body" style="height: 75%; width: auto; padding: 5px;">
                                <a href="{% url 'logout_action' %}" role="button"
                                    class="btn btn-danger btn-sm float-right m-2">
                                    <i class="fas fa-sign-out-alt fa-sm mr-2"></i>Sign Out
                                </a>
                                
                                <!-- FOR DEBUGGING PURPOSES -->
                                
                                
                                </a>
                            </div>
                        </div>
                </li>
            </ul>
        </div>

    </div>
</nav>
{%endblock%}