{% extends 'AEIRBS-Default.html' %}
{% block title %}AEIRBS-Masterlist{% endblock title %}
{% load static %}
{% block body %}

<body>
    <div class="container-fluid user" id="" style="padding:0 25px 25px 25px;">
        <div class="container-fluid"
            style="background-color: white; padding: 25px; box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3); border-radius: 5px;">

            <div class="row"></div>
            <div
                style="background-color:#343A40; height: auto; box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);  border-radius: 5px; padding: 25px;">

                <div class="row">
                    <div class="col-2">
                        <div class="imagePreview"
                            style="background-image: url('{{user.profile.user_image.url}}'); background-size: contain; background-position: center; border: 5px solid white;">
                        </div>
                    </div>

                    <div class="col text-light" style="position: relative;">
                        <form action="{% url 'edit_admin' %}" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="username" value="{{user.username}}"></input>
                            <button class="btn btn-outline-light btn-sm float-right" title="Edit Profile" type="submit">
                                <i class="fas fa-user-edit fa-sm mr-2"></i>Edit Profile</button>
                        </form>

                        <div class="mb-3" style="position: absolute; bottom: 0;">
                            <h3><b>{{user.get_full_name}}</b></h3>
                            <div class="mt-2">
                                <h6><i class="fas fa-user fa-sm mr-2 "></i>{% if user.is_superuser%} Super- Admin
                                    {% else %} Admin {% endif %}</h6>
                                <h6><i class="fas fa-envelope fa-sm mr-2 "></i>{{user.email}}</h6>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="left-padding" id="users">
        <div class="container-fluid userContainer" id="userContainer" style="padding:0 25px 25px 25px;">
            <div class="container-fluid"
                style="background-color: white; padding: 25px; box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3); border-radius: 5px;">

                <div class="row">
                    <!--Page Labels-->
                    <div class="col-4">
                        <h3 id="masterlistLabel"><b><b>ADMIN MASTERLIST</b></b>
                        </h3>
                    </div>

                    <!--Add Admin Button-->
                    {% if request.user.is_superuser %}
                    <div class="col">
                        <form id="deleteList" action="{% url 'delete_list' %}" method="POST">
                            {% csrf_token %}
                            <input id="deleteList_input" type="hidden" name="delete_list">
                        </form>
                        <button id="deleteSelectedUser" class="btn btn-danger btn btn-sm float-right mt-1 ml-2 hidden"
                            data-toggle="modal" data-target="#confirmDeleteList"><i class="fas fa-trash-alt fa-sm mr-2"></i> Delete Admin</button>

                        <a href="{% url 'add_admin' %}" class="btn btn-dark float-right btn-sm mt-1">
                            <i class="fas fa-user-plus fa-sm mr-2"></i>Add Admin
                        </a>
                    </div>
                    {% endif %}

                    <!--Search Admin-->
                    <div class="col-3 mt-1">
                        <form action="{% url 'masterlist' %}" method="POST">
                            {% csrf_token %}
                            <div class="input-group mb-3" id="searchAdmin">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-search"></i></span>
                                </div>
                                <input type="text" name="keyword" class="input form-control form-control-sm"
                                    placeholder="Search Admin">
                            </div>
                        </form>
                    </div>
                </div>

                <!--Masterlist Table-->
                <table id="" class="table masterlistTable table-striped table-borderless"
                    style="width:100%; text-align:center; box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);">
                    <thead class="table-header">
                        <tr>
                            <th>
                                <input type="checkbox" class="deleteCheckboxHeader">
                            </th>
                            <th>Employee ID</th>
                            <th>First Name</th>
                            <th>Middle Name</th>
                            <th>Last Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in all_users %}
                        {% if user.username != request.user.username %}
                        <tr class="table-row table-masterlist" data-username='{{user.username}}'>
                            <td>
                                <input type="checkbox" class="deleteCheckbox" data-delete='{{user.username}}'>
                            </td>
                            <td>{{user.username}}</td>
                            <td>{{user.first_name}}</td>
                            <td>{{user.profile.middle_name}}</td>
                            <td>{{user.last_name}}</td>
                        </tr>
                        {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    {% for user in all_users %}
    <div class=" right-padding hidden userDetails" id="userDetails{{user.username}}">
        <div class="container-fluid userDetailsContainer" id="userDetailsContainer" style="padding:0 25px 25px 12.5px;">
            <div class="container-fluid"
                style="background-color: white; padding: 25px; box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3); border-radius: 5px; ">
                <div class="adminDetails"
                    style="padding:15px; background-color:#343A40; min-height: 45vh; height: auto; box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3); text-align:center; position:relative;  border-radius: 5px;">
                    <button type="button " class="btn btn-link icon m-2 closeAdmin" data-username='{{user.username}}'
                        style="color:white; position:absolute; top:0; right: 0; "><i
                            class="fas fa-times fa-sm "></i></button>


                    {% if request.user.is_superuser %}
                    <div class="dropdown" style="position:absolute; top:0; left: 0;">
                        <button type="submit " class="btn btn-link icon m-2 userActions" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false"><i class="fas fa-align-justify fa-sm"
                                style="color:white;"></i></button>
                        <div class="dropdown-menu" style="min-width: 5px;" aria-labelledby="userActions">
                            <form action="{% url 'edit_admin' %}" method="POST">
                                {% csrf_token %}
                                <input type="hidden" name="username" value="{{user.username}}"></input>
                                <button class="dropdown-item icon" type="submit"
                                    style="border-radius: 0px; font-size: small;"><i
                                        class="fas fa-user-edit fa-sm mr-2 "></i>Edit
                                    Admin</button>
                            </form>
                            <button class="dropdown-item icon" style="border-radius: 0px; font-size: small;"
                                data-toggle="modal" data-target="#confirmDelete{{user.username}}"><i
                                    class="fas fa-user-times fa-sm mr-2 "></i>Delete
                                Admin</button>
                            <form id="delete{{user.username}}" action="{% url 'del_user' %}" method="POST">
                                {% csrf_token %}
                                <input type="hidden" name="username" value="{{user.username}}"></input>
                            </form>
                        </div>
                        {% endif %}
                    </div>
                    <div class=" mb-2" style="padding-top: 6vh;">
                        <div class="mb-3">
                            <div class="imagePreview"
                                style="background-image: url('{{user.profile.user_image.url}}'); background-size: contain; background-position: center; border: 5px solid white; border-radius: 50%;">
                            </div>
                        </div>

                        <div class="text-light mb-2">
                            <h3><b>{{user.get_full_name}}</b></h3>
                            <div class="mt-2 ">
                                <h6><i class="fas fa-user fa-sm mr-2 "></i>{% if user.is_superuser%}
                                    Super- Admin
                                    {% else %} Admin {% endif %}</h6>
                                <h6><i class="fas fa-envelope fa-sm mr-2 "></i>{{user.email}}
                                </h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mt-3 "
                    style="background-color:#EAEDED; padding: 15px; min-height: 30vh; height: auto;box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3); border-radius: 5px;">
                    <h6><b>Recent Activities:</b></h6>
                    <div style=" max-height: 50vh; overflow-y: scroll; overflow-x: hidden;">
                        <table id="" class="table" style="width:100%;">
                            <tbody>
                                {% for log in logs %}
                                {% if log.0 == user.username%}
                                <tr style="font-size: 12px;">
                                    <td>
                                        <div class="row">
                                            <div class="col">
                                                <b>{{log.1}}</b>
                                            </div>
                                            <div class="col">
                                                <small class="float-right">{{log.2}}</small>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col ml-3">
                                                {{log.3}}
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                {%endif%}
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    {% include 'MASTERLIST-ConfirmationModals.html' %}

    <script>console.log(all_devices)</script>
</body>
<script src="{% static 'js/aeirbs-masterlist.js' %}"></script>

{% endblock body %}