{% load static %}

{%block body%}

<body>
  <nav id="sidebar" class="active d-flex flex-column">
    <div class="sticky-top">
      <div class="sidebar-header">
        <img id="logo-AEIRBS" class="hidden" src="{% static 'icons/AEIRBS.png' %}" height="45">
        <img id="logo" src="{% static 'icons/aeirbs-logo.png' %}" height="45">
      </div>

      <div class="sidebar-body">
        <ul class="list-unstyled border-0">
          <li class="mx-2 my-2">
            <a id="dashboard" class="dashboard text" href="{% url 'earthquake_components' %}" style="border-radius: 5px;">
              <div class="row" >
                <div class="col-2">
                  <i class="fas fa-home mx-3"></i>
                </div>
                <div class="col ml-3">
                  Dashboard
                </div>
              </div>
            </a>
            <a id="dashboard-logo" class="dashboard logo" style="border-radius: 5px;"
              href="{% url 'earthquake_components' %}" title="Dashboard">
              <i class="fas fa-home fa-lg" style="border-radius: 5px;"></i></h6>
            </a>
          </li>

          <li class="mx-2 my-2">
            <a id="masterlist" class="masterlist text" href="{% url 'masterlist' %}" style="border-radius: 5px;">
              <div class="row">
                <div class="col-2">
                  <i class="fas fa-users mx-3"></i>
                </div>
                <div class="col ml-3">
                  Masterlist
                </div>
              </div>
            </a>
            <a id="masterlist-logo" class="masterlist logo" style="border-radius: 5px;" href="{% url 'masterlist' %}"
              title="Masterlist">
              <i class="fas fa-users fa-lg"></i>
            </a>
          </li>

          <li class="mx-2 my-2" >
            <a id="reports" class="reports text" style="border-radius: 5px;">
              <div class="row">
                <div class="col-2">
                  <i class="fas fa-folder-open mx-3"></i>
                </div>
                <div class="col-6 ml-3">
                  Reports
                </div>
                <div class="col dropdown-toggle"></div>
              </div>
            </a>
            <a id="reports-logo" style="border-radius: 5px;" class="reports logo" title="Reports">
              <i class="fas fa-folder-open fa-lg"></i>
            </a>
            </li>
            <ul class="list-unstyled hidden mx-3" id="pageSubmenu" style="border-bottom:solid 1px white;">
              <li class="my-2">
                <a id="audit" class="audit text" href="{% url 'component_logs' %}" style="border-radius: 5px;">
                  <div class="row">
                    <div class="col-2">
                      <i class="fas fa-file-alt"></i>
                    </div>
                    <div class="col ml-1">
                      Audit Logs
                    </div>
                  </div>
                </a>
                <a id="audit-logo" class="audit logo" style="border-radius: 5px;" href="{% url 'component_logs' %}"
                  title="Audit Logs">
                  <i class="fas fa-file-alt fa-sm"></i>
                </a>
              </li>

              <li class="my-2">
                <a id="incident" class="incident text" href="{% url 'incident' %}" style="border-radius: 5px;">
                  <div class="row">
                    <div class="col-2">
                      <i class="fas fa-clipboard"></i>
                    </div>
                    <div class="col">
                      Incident Reports
                    </div>
                  </div>
                </a>
                <a id="incident-logo" class="incident logo" style="border-radius: 5px;" href="{% url 'incident' %}"
                  title="Incident Reports">
                  <i class="fas fa-clipboard fa-sm"></i>
                </a>
              </li>

              <li class="my-2">
                <a id="summary" class="summary text my-1" href="{% url 'summary' %}" style="border-radius: 5px;">
                  <div class="row">
                    <div class="col-2">
                      <i class="fas fa-chart-bar"></i>
                    </div>
                    <div class="col">
                      Summary Reports
                    </div>
                  </div>
                </a>
                <a id="summary-logo" class="summary logo" style="border-radius: 5px;" href="{% url 'summary' %}" title="Summary Reports">
                  <i class="fas fa-chart-bar fa-sm"></i>
                </a>
              </li>
            </ul>

            <li class="mx-2 my-2">
              <a id="settings" class="settings text" href="{% url 'devices' %}" style="border-radius: 5px;">
                <div class="row">
                  <div class="col-2">
                    <i class="fas fa-cog mx-3"></i>
                  </div>
                  <div class="col ml-3">
                    Settings
                  </div>
                </div>
              </a>
              <a id="settings-logo" class="settings logo" style="border-radius: 5px;" href="{% url 'devices' %}"
                title="Setting">
                <i class="fas fa-cogs fa-lg"></i>
              </a>
            </li>
        </ul>
      </div> 
    </div>
  </nav>
</body>

{%endblock body%}