{% load static %}
<!doctype html>
<html lang="en">

<head>
    <!--Favicon-->
    <link rel="icon" href="{% static 'icons/aeirbs-logo.png' %}">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
        integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">


    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">

    <!--Font Awesome CSS-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css"
        integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">

    <!--Font-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,900&display=swap" rel="stylesheet">

    <!-- Data Tables Semantic UI-->
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css">

    <!-- Our Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/aeirbs-default.css'%}">
    <link rel="stylesheet" href="{% static 'css/sidenav.css' %}">
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
    <link rel="stylesheet" href="{% static 'css/masterlist.css' %}">
    <link rel="stylesheet" href="{% static 'css/audit.css' %}">
    <link rel="stylesheet" href="{% static 'css/incident.css' %}">
    <link rel="stylesheet" href="{% static 'css/summary.css' %}">

    <!--Audio-->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>

    <script type="text/javascript" src="{% static 'js/say.js'%}"></script>

    <!-- Chart.js -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>

    <title>{% block title %}{% endblock title %}</title>
</head>
<style>
    .success-lenear-loader {
        height: 0px;
        width: 1px;
        border-bottom: 5px solid #1E8449;
        ;

        -webkit-animation: increase 4s;
        -moz-animation: increase 4s;
        -o-animation: increase 4s;
        animation: increase 4s;
        animation-fill-mode: forwards;
    }

    .fail-lenear-loader {
        height: 0px;
        width: 1px;
        border-bottom: 5px solid #922B21;
        ;

        -webkit-animation: increase 4s;
        -moz-animation: increase 4s;
        -o-animation: increase 4s;
        animation: increase 4s;
        animation-fill-mode: forwards;
    }

    .warning-lenear-loader {
        height: 0px;
        width: 1px;
        border-bottom: 5px solid #B7950B;
        ;

        -webkit-animation: increase 300s;
        -moz-animation: increase 300s;
        -o-animation: increase 300s;
        animation: increase 300s;
        animation-fill-mode: forwards;
    }

    @keyframes increase {
        100% {
            width: 100%;
        }
    }


    .alert-logo {
        width: 100px;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: visible;
        position: relative;
    }

    .alert-fire-ring {
        border-radius: 50%;
        border: solid 1px rgba(255, 125, 102, 1);
        background-color: rgba(255, 125, 102);
        width: 100vh;
        height: 100vh;
        position: absolute;
        animation: scaleIn 1.5s infinite cubic-bezier(.36, .11, .89, .32);
    }

    .alert-quake-ring {
        border-radius: 50%;
        border: solid 2px rgba(229, 191, 154, 1);
        background-color: rgba(229, 191, 154);
        width: 100vh;
        height: 100vh;
        position: absolute;
        animation: scaleIn 1.5s infinite cubic-bezier(.36, .11, .89, .32);
    }

    .alert-flood-ring {
        border-radius: 50%;
        border: solid 2px rgba(161, 212, 242, 1);
        background-color: rgba(161, 212, 242);
        width: 100vh;
        height: 100vh;
        position: absolute;
        animation: scaleIn 1.5s infinite cubic-bezier(.36, .11, .89, .32);
    }

    .item {
        z-index: 100;
        padding: 5px;
    }

    .item img {
        width: 150px;
        transform: translateY(1px);
    }

    @keyframes scaleIn {
        from {
            transform: scale(.1, .1);
            opacity: .5;
        }

        to {
            transform: scale(3, 3);
            opacity: 0;
        }
    }
</style>

<body>
    <div class="wrapper">
        <!-- Alarm -->
        <div class="alarm hidden" style="width: auto; position: fixed; top: 10%; right:30%; left: 30%; z-index: 2000;">
            <center>
                <div class="alert-logo mb-5">
                    <div class="item">
                        <img src="{% static 'icons/aeirbs-logo.png' %}">
                    </div>

                    <div class="alert-flood-ring" style="animation-delay: -1s"></div>
                    <div class="alert-quake-ring" style="animation-delay: -.5s"></div>
                    <div class="alert-fire-ring" style="animation-delay: 0s"></div>
                </div>
            </center>
            <div class="alert alert-warning text-center" role="alert" aria-live="assertive" aria-atomic="true"
                style="border: 2px solid #343A40; padding: 25px; border-radius: 5px;">

                <div class="toast-header">
                    <strong class="text-dark" style="font-size:xx-large;"><b><b>ALERT!</b></b></strong>
                </div>
                <div class="toast-body mt-2">
                    A sensor located in <b id="alarm_floor"></b> has been triggered!
                    <div class="row mt-3">
                        <div class="col-2"></div>
                        <div class="col text-left">
                            <small><b>Device-Sensor ID:</b></small>
                        </div>
                        <div class="col text-left">
                            <small id = "alarm_senid"></small>
                        </div>
                        <div class="col-2"></div>
                    </div>
                    <div class="row">
                        <div class="col-2"></div>
                        <div class="col text-left">
                            <small><b>Sensor Name:</b></small>
                        </div>
                        <div class="col text-left">
                            <small id="alarm_senname"></small>
                        </div>
                        <div class="col-2"></div>
                    </div>
                    <div class="row">
                        <div class="col-2"></div>
                        <div class="col text-left">
                            <small><b>Incident Type:</b></small>
                        </div>
                        <div class="col text-left">
                            <small id="alarm_type"></small>
                        </div>
                        <div class="col-2"></div>
                    </div>

                    <div class="mt-5">
                        <button type="button" class="btn btn-sm btn-danger confirm-alarm">
                            Confirm
                        </button>
                        <button type="button" class="btn btn-dark btn-sm false-alarm">Cancel</button>
                        <div class="mt-4 warning-lenear-loader"></div>

                        <div class="m-2" style="font-size:x-small; position: absolute; bottom: 0; right: 0;">
                            Note: Public Announcement will be triggered automatically after 5 minutes.
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Side Navbar-->
        {% include 'AEIRBS-SideNavigation.html' %}

        <!-- Page Content  -->

        <!--Alert Messages-->
        <div id="content">
            <!--Top Navbar-->
            {%include 'AEIRBS-TopNavigation.html'%}
            <div class="mt-4">
                {% block body %}{% endblock body %}
            </div>

            {% if messages %} {% for message in messages %} {% if message.tags == "error" %}
            <div class="alert alert-timer alert-danger" role="alert" aria-live="assertive" aria-atomic="true"
                style="width: 20rem; position: fixed; bottom: 1rem; right: 1rem; z-index: 2000;">

                <div class="toast-header">
                    <strong class="mr-auto">AEIRBS</strong>
                </div>
                <button type="button" class="mr-2 close" style="position: absolute; top: 0; right: 0;"
                    data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="mt-1 toast-body">
                    <small>{{message}}</small>
                    <div class="mt-4 fail-lenear-loader"></div>
                </div>
            </div>

            {% endif %} {% if message.tags == "success" %}
            <div class="alert alert-timer alert-success " role="alert" aria-live="assertive" aria-atomic="true"
                style="width: 20rem; position: fixed; bottom: 1rem; right: 1rem; z-index: 2000;">

                <div class="toast-header">
                    <strong class="mr-auto">AEIRBS</strong>
                </div>
                <button type="button" class="mr-2 close" style="position: absolute; top: 0; right: 0;"
                    data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="mt-1 toast-body">
                    <small>{{message}}</small>
                </div>
                <div class="mt-4 success-lenear-loader"></div>
            </div>
            {% endif %} {% endfor %} {% endif %}
        </div>
    </div>

    </div>

    {% for device in all_devices %}
    <script>
        $(document).ready (function () {
        //$("#card{{device.device_id}}").click(function () {
            ard_interval = setInterval(function() {
                $.ajax({
                    type: 'POST',
                    headers: {
                        "X-CSRFTOKEN": "{{ csrf_token }}"
                    },
                    url: '/ajax/getdata/',
                    data: {'componentID': '{{device.id}}', 'port': '{{device.port_number}}'},
                    dataType: 'json',
                    success: function (result) {
                        $('#arddata0-{{device.id}}').html(result.temp);
                        $('#arddata1-{{device.id}}').html(result.dist);
                        
                        deviceID = '{{device.device_id}}';
                        deviceType = '{{device.device_type}}';
                        deviceFloor = '{{device.floor_location}}';

                        console.log(deviceType);
                        all_alarms = result.all_alarms;

                        if (result.alert == 1) {
                            $(".alarm").show();
                            alarm_msg = all_alarms[deviceType-1];
                            soundAlarm(deviceType, deviceFloor, result.floor_locations, result.dev_id, result.dev_name, deviceID, alarm_msg);
                        }
                    },
                    error: function(data){
                        // alert("device id: {{device.device_id}}\n" + 'error..');
                    },
                });
            }, 5000);
        });
    </script>
    {% endfor %}
</body>

<!-- Font Awesome JS -->
<script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js"
    integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ"
    crossorigin="anonymous"></script>
<script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js"
    integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY"
    crossorigin="anonymous"></script>

<!-- Custom JS -->
<script src="{% static 'js/aeirbs-default.js' %}"></script>
<script src="{% static 'js/sidenav-js.js' %}"></script>
<script src="{% static 'js/topnav-js.js' %}"></script>
<script src="{% static 'js/home.js' %}"></script>
<script src="{% static 'js/aeirbs-audit.js' %}"></script>
<script src="{% static 'js/aeirbs-summary.js' %}"></script>
<script src="{% static 'js/aeirbs-incident.js' %}"></script>
<script src="{% static 'js/profile-js.js' %}"></script>

<!--Data Tables Semantic UI-->
<script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script type="text/javascript" charset="utf8"
    src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" charset="utf8"
    src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
<script>
    window.setTimeout(function () {
        $(".alert-timer").fadeTo(500, 0).slideUp(500, function () {
            $(this).remove();
        });
    }, 4000);

        timer = setTimeout(function () {
            audio = say('Alert! Alert! An emergency has been detected!');
            synth = audio[0];
            //msg = audio[1];

            /*email = $.ajax({
                headers: {
                    "X-CSRFTOKEN": "{{ csrf_token }}"
                },
                url: '/alarm-mail',
                success: function () {
                    // TEMP - for debugging
                    alert('success');
                },
                error: function (data) {
                    // TEMP - for debugging
                    alert('error..');
                }
            });*/
        }, 4000);

        function alarm_alert(timer, deviceID, deviceFloor, deviceType, alarm_msg) {
            audio = say(alarm_msg);
            synth = audio[0];
            msg = audio[1];
            
            email = $.ajax({
                type: 'POST',
                headers: {
                    "X-CSRFTOKEN": "{{ csrf_token }}"
                },
                data: {'device_id': deviceID, 'device_floor': deviceFloor, 'device_type': deviceType},
                url: '/alarm-mail/',
                success: function () {
                    // TEMP - for debugging
                    // alert('success');
                },
                error: function(data){
                    // TEMP - for debugging
                    // alert('error..');
                }
            });

            var refreshID = setInterval(function interval() {
                synth.speak(msg);
                
                if($(".alarm").css('display') == 'none' || $(".alarm").css("visibility") == "hidden") {
                    synth.cancel(msg);
                    clearInterval(refreshID);
                }  
            },3000);

            if($(".alarm").css('display') == 'none' || $(".alarm").css("visibility") == "hidden") {
                    email.abort();
                    clearTimeout(timer);
            }  
        };

        function soundAlarm(deviceType, deviceFloor, floor_locations, tripped_sen_id, tripped_sen_name, deviceID, alarm_msg) {
            for (floor in floor_locations) {
                if (floor_locations[floor][0] == deviceFloor) {
                    $('#alarm_floor').html(floor_locations[floor][1]);
                    break;
                }
            }
            
            if (deviceType == 1)
                $('#alarm_type').html("Earthquake");
            else if (deviceType == 2)
                $('#alarm_type').html("Fire");
            else
                $('#alarm_type').html("Flood");
            
            $('#alarm_senid').html(tripped_sen_id);
            $('#alarm_senname').html(tripped_sen_name);
            
            console.log("Sensor: " + tripped_sen_id);
            
            // timer = 20000;

            var timer = setTimeout(alarm_alert(timer, deviceID, deviceFloor, deviceType, alarm_msg), 3000);
        }

        $(".false-alarm").click(function () {
            console.log("cancel");
            $(".alarm").hide();
        });

        $(".confirm-alarm").click(function () {
            console.log("confirm");
            alarm_alert(null);
        });

        $("#showAlarm").click(function () {
            $(".alarm").show();
            soundAlarm();
        });
    </script>

</html>