{% extends 'AEIRBS-Default.html' %}
{% block title %}AEIRBS-Dashboard{% endblock title %}
{% load static %}
{% block body %}
<style>
    .nav-item .nav-link {
        background-color: rgba(0, 0, 0, .08);
        color: #343A40;
    }

    .nav-item .nav-link:hover {
        background-color: rgba(0, 0, 0, .08);
        color: #343A40;
        font-size: 18px;
        font-weight: bold;
        box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
    }

    .nav-item .nav-link.active {
        background-color: rgba(0, 0, 0, .08);
        color: #343A40;
        border-bottom: 5px solid !important;
        font-size: 18px;
        font-weight: bold;
        box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
    }
</style>

<body>
    {% if request.user.profile.logged == 0 %}
        <script>
            $('#changePassModal').modal({backdrop: "static"});
        </script>
    {% endif %}

    <div class="container-fluid" id="dashboardHeader" style="padding:0 25px 25px 25px;">
        <div class="container-fluid"
            style="background-color: white; padding: 25px; box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3); border-radius: 5px;">

            <div class="row mt-2">
                <!--Page Labels-->
                <div class="col-4">
                    <h3 id="dashboardLabel"><b><b>DASHBOARD</b></b>
                    </h3>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid" id="componentContainer" style="padding:0 25px 25px 25px;">
        <div class="container-fluid"
            style="background-color: white; padding: 25px; box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3); border-radius: 5px;">

            <ul class="nav nav-pills nav-fill" role="tablist">
                <li class="nav-item">
                    <a id="earthquakeLink" class="m-1 nav-link earthquake" href="{% url 'earthquake_components' %}"><i
                            class="fas fa-globe mr-3" style="color:#E5BF9A;"></i>Earthquake <small><i
                                class="fas fa-exclamation-circle ml-3 text-danger"></i></small></a>
                </li>
                <li class="nav-item">
                    <a id="fireLink" class="m-1 nav-link fire" href="{% url 'fire_components' %}"><i
                            class="fas fa-fire mr-3" style="color:#FF7E67;"></i>Fire <small><i
                                class="fas fa-exclamation-circle ml-3 text-danger"></i></small></a>
                </li>
                <li class="nav-item">
                    <a id="floodLink" class="m-1 nav-link flood" href="{% url 'flood_components' %}"><i
                            class="fas fa-tint mr-3" style="color:#A2D5F2;"></i>Flood <small><i
                                class="fas fa-exclamation-circle ml-3 text-danger"></i></small></i></a>
                </li>
            </ul>

            <div class="row ml-2 mb-1">
                <div class="mr-3"><small><span type="checkbox"
                            style="background-color:#1E8449; font-size: 10px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span
                            style="font-size: 10px;">&nbsp;&nbsp;Connected</span></small></div>
                <div class="mr-3"><small><span
                            style="background-color:#B7950B; font-size: 10px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span
                            style="font-size: 10px;">&nbsp;&nbsp;Under Maintenance</span></small></div>
                <div class="mr-3"><small><span
                            style="background-color:#922B21; font-size: 10px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span
                            style="font-size: 10px;">&nbsp;&nbsp;Needs Maintenance</span></small></div>
                <div class=""><small><span
                            style="background-color:#616A6B; font-size: 10px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span
                            style="font-size: 10px;">&nbsp;&nbsp;Inactive</span></small></div>
            </div>
            <div class="container-fluid"
                style="background-color: rgba(0,0,0,.08); padding: 15px 25px 15px 25px; box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3); border-radius: 5px; position: relative;">
                {% block content %}{% endblock content %}
            </div>
        </div>
    </div>
</body>

{% endblock body %}