{% extends 'AEIRBS-Audit.html' %}
{% load static %}
{% block content %}

<body>
    <div class="left-padding">
        <div class="container-fluid auditContainer" style="padding:0 25px 25px 25px;">
            <div class="container-fluid"
                style="background-color: white; padding: 25px; box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3); border-radius: 5px;">

                <div class="row">
                    <div class="col-4">
                        <h3><b><b>MAINTENANCE LOGS</b></b>
                        </h3>
                    </div>
                    <div class="col">

                        {% if request.user.is_superuser %}
                        <button class="btn btn-danger btn btn-sm float-right" data-toggle="modal"
                            data-target="#confirmClearMaintenanceLogs"><i class="fas fa-trash-alt fa-sm mr-2"></i>Clear
                            Logs</button>
                        <form id="clearMaintenanceLogs" action="{% url 'clear_logs' %}" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="clearAuditType" value="2">
                        </form>
                        <form action="{% url 'generatePDF_audit' %} " method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="auditType" value="2">
                            <button type="submit" class="btn btn-dark btn mr-3 float-right btn-sm"
                                id="generatePDFButton"><i class="fas fa-download fa-sm mr-2"></i>Download</button>
                        </form>
                        {% endif %}
                    </div>

                    <!--Search Component-->
                    <div class="col-3">
                        <form action="{% url 'maintenance_logs' %}" method="POST">
                            {% csrf_token %}
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-search"></i></span>
                                </div>
                                <input type="text" name="keyword" class="input form-control form-control-sm"
                                    placeholder="Search Audit">
                            </div>
                        </form>
                    </div>
                </div>

                <!--Audit Table-->
                <table id="AuditTable" class="table auditTable dataTable table-striped table-borderless"
                    style="width:100%; text-align:center; box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);">
                    <thead class="table-header">
                        <tr>
                            <th>Audit ID</th>
                            <th>Activity</th>
                            <th>Accountability</th>
                            <th>Date and Time</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for log in audit_logs %}
                        <tr class="table-row table-auditlist" data-auditid='{{log.id}}'>
                            <td>{{log.log_id}}</td>
                            <td>{{log.activity}}</td>
                            {% if log.is_auto == 0%}
                            <td>{{log.username.first_name}} {{log.username.last_name}}</td>
                            {% else %}
                            <td>AEIRBS</td>
                            {% endif %}
                            <td>{{log.date_time|date:"d/m/Y H:i:s" }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

            </div>
        </div>
    </div>

    {% for log in audit_logs %}
    <div class="right-padding hidden auditDetails" id="auditDetails{{log.id}}">
        <div class="container-fluid auditDetailsContainer" id="auditDetailsContainer"
            style="padding:0 25px 25px 12.5px; ">
            <div class="container-fluid"
                style="background-color: white; padding: 25px; box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3); border-radius: 5px; ">
                <div
                    style="background-color:#343A40; height: auto; box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3); text-align:center; position:relative; border-radius: 5px;">


                    <button type="button" class="btn btn-link icon mt-2 mr-2 closeAudit" data-auditid='{{log.id}}'
                        style="color:white; position:absolute; right: 0; "><i class="fas fa-times fa-sm "></i></button>

                        <div class="row" style="color: white; padding: 3vh; padding-top: 6vh; text-align: left;">
                            <div class="col-5" style="border-right: 2px solid white; text-align: center;">
                                <h1><b>{{log.log_id}}</b></h1>
                            </div>
                            <div class="col ml-2">
                                <div class="row">
                                    <div class="col-2">
                                        <h5><b><i class="fas fa-info-circle"></i></b></h5>
                                    </div>
                                    <div class="col">
                                        <h5><b>{{log.activity}}</b></h5>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-2">
                                        <h6><small><i class="fas fa-calendar-alt fa-sm"></i></small></h6>
                                    </div>
                                    <div class="col">
                                        <h6><small>{{log.date_time|date:"d/m/Y h:i:s" }}</small></h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>

                <div class="mt-3"
                    style="background-color:#EAEDED; padding: 20px; min-height: 30vh; height: auto; box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3); border-radius: 5px;">

                    <h6><b><i class="fas fa-file-alt fa-sm mr-2"></i>Audit Details:</b></h6>
                    <div class="ml-4">
                        <small style="text-align: justify">&nbsp;&nbsp;&nbsp;{{log.audit_details}}</small>
                    </div>
                    <div class="ml-4 mt-2">
                        <b><i class="fas fa-user fa-sm mr-2"></i>Accountability</b>
                        <div class="ml-4">
                            <small>
                                <div class="row">
                                    <div class="col">
                                        <b>Employee ID:</b>
                                    </div>
                                    <div class="col">
                                        {{log.username.username}}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <b>Employee Name:</b>
                                    </div>
                                    <div class="col">
                                        {{log.username.first_name}} {{log.username.last_name}}
                                    </div>
                                </div>
                            </small>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <form action="{% url 'generatePDF_maintenanceReport' %} " method="POST">
                                {% csrf_token %}
                                <input type="hidden" name="auditID" value={{log.log_id}}>
                                <button type="submit"
                                    class="mt-4 text-center btn btn-dark btn float-right btn-sm btn-block"><i
                                        class="fas fa-download fa-sm mr-2"></i>Download Report</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    {% include 'REPORTS-ConfirmationModals.html' %}
</body>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
    $('#pageSubmenu').show();
    $('.reports').toggleClass("dropdownActive");
    $('.audit').toggleClass("active");
    $('.maintenanceLogs').toggleClass("active");

</script>
{% endblock content %}