{% extends 'AEIRBS-Dashboard.html' %}
{% load static %}
{% block content %}

<body>
    <ul class="nav justify-content-end">
        <li class="nav-item mt-1 mr-3">
            <small>Sort by:</small>
        </li>
        <li class="nav-item mr-4">
            <form class="sort-filter-componentForm" action="{% url 'earthquake_components' %}" method="POST">
                {% csrf_token %}
                <input class="filterComponent" type="hidden" name="filterComponent" value="{{filter}}">
                <input class="ascending-descending" type="hidden" name="ascDesc" value="{{ascending_descending}}">
                <div class="input-group" >
                    <select class="custom-select form-control form-control-sm sortComponent" name="sortComponent">
                        {% if sort == 'floor' %}
                        <option class="id" value="id">Component ID</option>
                        <option class="floor" value="floor" selected>Floor Location</option>
                        <option class="device" value="device">Device Connected</option>
                        {% elif sort == 'device' %}
                        <option class="id" value="id">Component ID</option>
                        <option class="floor" value="floor">Floor Location</option>
                        <option class="device" value="device" selected>Device Connected</option>
                        {% else %}
                        <option class="id" value="id" selected>Component ID</option>
                        <option class="floor" value="floor">Floor Location</option>
                        <option class="device" value="device">Device Connected</option>
                        {% endif %}
                    </select>
                    <div class="input-group-append">
                        <button class="btn btn-link icon btn-sm asc-desc-btn"
                            style="border: 1px solid #D2D7DD; color: #495057;"><i
                                class="fas fa-long-arrow-alt-up ascending"></i><i
                                class="fas fa-long-arrow-alt-down descending"></i></button>
                    </div>
                </div>
            </form>
        </li>
        <li class="nav-item">
            <form action="{% url 'earthquake_components' %}" method="POST">
                {% csrf_token %}
                <div class="input-group" id="searchComponent">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-search"></i></span>
                    </div>
                    <input type="text" name="keyword" class="input form-control form-control-sm"
                        placeholder="Search Component">
                </div>
            </form>
        </li>
    </ul>
    <div class="row float-right">
        <div class="mr-3">
            <div class="form-check">
                <input class="form-check-input filter filter-active" type="checkbox">
                <label class="form-check-label" for="defaultCheck1">
                    Active
                </label>
            </div>
        </div>
        <div class="mr-3">
            <div class="form-check">
                <input class="form-check-input filter filter-underMaintenance" type="checkbox">
                <label class="form-check-label">
                    Under Maintenance
                </label>
            </div>
        </div>
        <div class="mr-3">
            <div class="form-check">
                <input class="form-check-input filter filter-needsMaintenance" type="checkbox">
                <label class="form-check-label">
                    Needs Maintenance
                </label>
            </div>
        </div>
        <div class="mr-3">
            <div class="form-check">
                <input class="form-check-input filter filter-inactive" type="checkbox">
                <label class="form-check-label">
                    Inactive
                </label>
            </div>
        </div>
    </div>

    <div class="container-fluid" style="max-height: 75vh; height:auto; overflow-y: auto; padding: 25px;">
        <div class="text-center" style="margin-left: auto; margin-right: auto;">
            {% if count == 0 %}
            <b>No component available.</b>
            {% endif %}
            {% for eq in earthquake_components %}
            <div class="card card-layout border-0 m-2 component earthquakeComponent" data-toggle="modal"
                data-target="#componentModal{{eq.device_sensor_id}}" data-component='{{eq.device_sensor_id}}'
                style="display: inline-block;">
                <div class="card-header border-0">
                    <b style="font-size: 16px;">{{eq.device_sensor_id}}</b> <small><i
                            class="fas fa-exclamation-circle ml-2 text-danger"></i></small>
                </div>
                <div class="card-body border-0">
                    <div class="row my-2">
                        <div class="col-4">
                            <center>
                                <div class="cardImage"
                                    style="background-image: url('{{ eq.sensor_id.sensor_image.url }}');">
                                </div>
                            </center>
                        </div>
                        <div class="col-8 mt-3" style="font-size: 14px;">
                            <h6>{{eq.sensor_id.sensor_name}}</h6>
                            {% for floor in floor_locations %}
                            {% if floor.0 == eq.device_id.floor_location %}
                            <small>{{floor.1}}</small>
                            {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
                {% if eq.sensor_status == 0 %}
                <div class="card-overlay connected-card-overlay"></div>
                {% elif eq.sensor_status == 1 %}
                <div class="card-overlay underMaintenance-card-overlay"></div>
                {% elif eq.sensor_status == 2 %}
                <div class="card-overlay needsMaintenance-card-overlay"></div>
                {% elif eq.sensor_status == 3 %}
                <div class="card-overlay inactive-card-overlay"></div>
                {% endif %}
            </div>
            {% endfor %}
        </div>
    </div>
    {% include 'AEIRBS-ComponentModals.html' %}
    {% include 'COMPONENTS-ConfirmationModals.html' %}
</body>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
    $(".dashboard").toggleClass("active");
    $(".earthquake").toggleClass("active");
    $(".addComponent").click("active");

    
</script>
{% endblock content %}