<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
        integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <!-- Our Custom CSS -->
    <link rel="stylesheet" href="style2.css">
    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">

    <!-- Font Awesome JS -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js"
        integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ"
        crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js"
        integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css"
        integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">

    <!--Font-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,900&display=swap" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8"
        src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>

    <title>Audit Logs</title>
</head>
<style>

</style>
{% load static %}

<body>
    <div class="container-fluid mt-4">
        <center>
            <img src="http://127.0.0.1:8000/static/icons/AEIRBS-BLACK.png" height="75">
            <h2>Automatic Emergency Interpreter, Recorder, and Broadcasting System</h2>
        </center>
        <br>
        <table class="table table-bordered mt-4 " style="width:100%; text-align:center; ">
            <thead class="table-header mt-2 ">
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td>Date: {{date}}</td>
                </tr>
                <tr>
                    <td>
                        {% if audit_type == 0 %}
                        <h1>COMPONENT LOGS</h1>
                        {% elif audit_type == 1 %}
                        <h1>USER LOGS</h1>
                        {% elif audit_type == 2 %}
                        <h1>MAINTENANCE LOGS</h1>
                        {% endif %}
                    </td>
                    <td></td>
                    <td>Time: {{time}}</td>
                </tr>
            </tbody>
        </table>
        <br>
        <hr>
        <table class="table table-bordered mt-4 " style="width:100%; text-align:center; ">
            <thead class="table-header mt-2 ">
                <tr>
                    <th>Audit ID</th>
                    <th>Activity</th>
                    <th>Accountability</th>
                    <th>Date and Time</th>
                    <th>Details</th>
                </tr>
            </thead>
        </table>
        <hr>
        <table class="table table-bordered mt-4 " style="width:100%; text-align:center; ">
            <tbody>
                {% for log in audit_logs %}
                <tr class="table-row ">
                    <td>{{log.log_id}}</td>
                    <td>{{log.activity}}</td>
                    <td>{{log.username.first_name}} {{log.username.last_name}}</td>
                    <td>{{log.date_time}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <hr>
    </div>
    <!-- jQuery CDN - Slim version (=without AJAX) -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js "
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo "
        crossorigin="anonymous "></script>
    <!-- Popper.JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js "
        integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ "
        crossorigin="anonymous "></script>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js "
        integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm "
        crossorigin="anonymous "></script>
    <link rel="stylesheet " type="text/css " href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css ">

    <script type="text/javascript " charset="utf8 "
        src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js "></script>
</body>

</html>